body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
}

html {
  scroll-behavior: smooth;
}

.hero-section {
  background: linear-gradient(135deg, #0f2027 0%, #203a43 50%, #2c5364 100%);
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
}

.hero-title {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -1px;
}

.hero-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
  color: #d1d8e0;
}

.project-card {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  border: none;
  border-radius: 12px;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.navbar {
  backdrop-filter: blur(10px);
  background-color: rgba(15, 32, 39, 0.9);
}

.section-padding {
  padding: 100px 0;
}

#ts{
  border-color: #3178C6 !important;
}
#js{
  border-color: #F0DB4F  !important;
}
#cs{
  border-color: #682876  !important;
}
#jv{
  border-color: #FFA500 !important;
}
#py{
  border-color: #306998 !important;
}

#dj{
  border-color: #092E20 !important;
}
#net{
  border-color: #512BD4 !important;
}

#css{
  border-color: #1572B6 !important;
}
#html{
  border-color: #E34F26 !important;
}
#react, #react-native{
  border-color: #61DAFB !important;
}

#flutter{
  border-color: #02569B !important;
}

#my{
  border-color: #4479A1 !important;
}
#server{
  border-color: #CC292B !important;
}

#aws{
  border-color: #FF9900 !important;
}